form.add-to-basket {
    display: contents !important;
}
.product_labels .badge:nth-child(2) {
    left: 55px;
}
.product_labels .badge:nth-child(3) {
    left: 105px;
}

.product_labels .badge.detail-page:nth-child(2) {
    left: 75px;
}

.product_labels .badge.detail-page:nth-child(3) {
    left: 130px;
}

.hidden {
    display: none;
    overflow: hidden;
}
.unavailability-list p span {
    color: #d41e11;
}
.blog-ctry-menu li a::before {
    content: none !important;
}
.button-filter {
    width: 100%;
}
.price_input {
    border: 0;
    color: #292929;
    font-size: 14px;
    margin: 0 0 20px;
}
.theme1 .badge-warning {
    color: #ffffff;
    background-color: #efbe0d !important;
}
.grid-view-list .first-img {
    max-width: 600px;
}
.theme-btn--dark2 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
.theme-btn--dark2 i {
    font-size: 20px;
}

/* Preloader */
#preloader {
    display: none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;/* change if the mask should be a color other than white */
    z-index:99; /* makes sure it stays on top */
    opacity: 0.7;
}

#status {
    display: none;
    width:64px;
    height:64px;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url('/assets/img/preloader.gif');
    background-repeat:no-repeat;
    background-position:center;
    margin:-36px 0 0 -36px; /* is width and height divided by two */
}
.text-right {
    text-align: right !important;
}
.coupon_form {
    max-width: 620px;
    margin: auto;
}
.coupon-set-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    border-left: 2px solid #ebebeb;
    padding: 0 30px;
    line-height: 30px;
    height: 30px;
    font-weight: 600;
    color: #292929;
    border-radius: 0px;
}

@media screen and (max-width: 991px) {
    .coupon-set-button {
        padding: 0 20px;
    }
}

@media screen and (max-width: 575px) {
    .coupon-set-button {
        padding: 0 15px;
    }
}

.theme1 .coupon-set-button:hover {
    color: #2caf4e;
}
.old-price {
    text-decoration: line-through;
    opacity: 0.7;
}
.props_block {
    text-align: left;
}
.review-grade {
    display: flex;
    overflow:hidden;
    position: relative;
    list-style: none;
    font-size: 3em;
    line-height: 1;
}
.review-grade, .review-grade li {
    margin:0;
    padding:0;
}
.review-grade li {
    margin-right:.25em;
}
.review-grade input {
    display:none;
}
.review-grade label {
    display: block;
    color: transparent;
    width: 1em;
    height: 1em;
    cursor: pointer;
}
.review-grade label::before {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    color: #404849;
    letter-spacing: .25em;
    z-index: 1;
}
.review-grade input:checked + label::before {
    color:#fdd835;
    z-index:2;
}

.review-grade label:hover::before {
    color:#F8B84E;
    z-index:3;
    text-shadow:0 0 .125em #F5D27C;
}


.review-grade li:nth-child(1) label::before {
    content:'★';
}

.review-grade li:nth-child(2) label::before {
    content:'★★';
}

.review-grade li:nth-child(3) label::before {
    content:'★★★';
}

.review-grade li:nth-child(4) label::before {
    content:'★★★★';
}

.review-grade li:nth-child(5) label::before {
    content:'★★★★★';
}
span.logo {
    font-size: 30px;
}
span.logo:hover {
    color: inherit;
}
