.product_content .add_to_basket {
    text-align: right;
}
.product_content .add_to_basket button {
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 25px;
}
button:hover {
    cursor: pointer;
}
.quantity_buttons button {
    border: none;
    background-color: transparent;
}
/*********************************
7. Icon Boxes
*********************************/

.icon_boxes
{
    width: 100%;
    padding-top: 99px;
    padding-bottom: 99px;
    background: #FFFFFF;
    z-index: 2;
}
.icon_box_row
{

}
.icon_box
{
    width: 100%;
    text-align: center;
}
.icon_box_image
{
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}
.icon_box_image img
{
    max-width: 100%;
}
.icon_box_title
{
    font-size: 18px;
    font-weight: 500;
    color: #1b1b1b;
    margin-top: 33px;
}
.icon_box_text
{
    margin-top: 20px;
}
.product_image {
    min-height: 255px;
}

div.button button[type=submit] {
    border: none;
    background-color: transparent;
    height: 100%;
    position: relative;
    z-index: 1;
}
div.button form {
    height: 100%;
}

div.button:not(.disabled):after {
    background-color: #000000;
}
button.disabled i {
    color: #989898;
}

button.disabled {
    cursor: default;
}

div.button:not(.disabled):hover button {
    color: #ffffff;
}
div.product_labels {
    position: absolute;
    top: 0;
}
div.product_labels a {
    color: #000000;
    text-decoration: none;
}
.filters {
    margin-bottom: 1em;
}
.filters label {
    color: #000;

}
.filters label span {
    display: inline;
    margin-left: 5px;
}
a[disabled] {
    pointer-events: none;
}
.form-pre-order {
    margin-top: 2rem;
}
.pd-l-0 {
    padding-left: 0;
}
.main_nav {
    margin-left: 2rem;
}
.product_pagination
{
    width: 100%;
    margin-top: 3px;
}
.product_pagination ul li
{
    display: inline-block;
}
.product_pagination ul li:not(:last-child)
{
    margin-right: 3px;
}
.product_pagination ul li a
{
    font-size: 14px;
    font-weight: 400;
    color: #6c6a74;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.product_pagination ul li.active a,
.product_pagination ul li:hover a
{
    color: #1b1b1b;
}
.old-price {
    text-decoration: line-through;
}


